In [ ]:
# Data Loading & Cleaning

This notebook prepares real hotel booking data for demand, revenue, and capacity analysis 
in a travel platform context. The focus is on creating clean, analysis-ready metrics suitable 
for time-series forecasting and business interpretation.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from datetime import datetime

pd.set_option('display.max_columns', None)
plt.style.use('default')

In [2]:
data_path = "hotel_bookings.csv"

df = pd.read_csv(data_path)

print("Shape:", df.shape)
df.head()

Shape: (119390, 32)

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,meal,country,market_segment,distribution_channel,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,reserved_room_type,assigned_room_type,booking_changes,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,3,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,01-07-2015
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,0.0,0,BB,PRT,Direct,Direct,0,0,0,C,C,4,No Deposit,NaN,NaN,0,Transient,0.0,0,0,Check-Out,01-07-2015
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Direct,Direct,0,0,0,A,C,0,No Deposit,NaN,NaN,0,Transient,75.0,0,0,Check-Out,02-07-2015
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,0.0,0,BB,GBR,Corporate,Corporate,0,0,0,A,A,0,No Deposit,304.0,NaN,0,Transient,75.0,0,0,Check-Out,02-07-2015
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,0.0,0,BB,GBR,Online TA,TA/TO,0,0,0,A,A,0,No Deposit,240.0,NaN,0,Transient,98.0,0,1,Check-Out,03-07-2015

In [3]:
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

,is_canceled,lead_time,arrival_date_year,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,children,babies,is_repeated_guest,previous_cancellations,previous_bookings_not_canceled,booking_changes,agent,company,days_in_waiting_list,adr,required_car_parking_spaces,total_of_special_requests
count,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,119386.000000,119390.000000,119390.000000,119390.000000,119390.000000,119390.000000,103050.000000,6797.000000,119390.000000,119390.000000,119390.000000,119390.000000
mean,0.370416,104.011416,2016.156554,27.165173,15.798241,0.927599,2.500302,1.856403,0.103890,0.007949,0.031912,0.087118,0.137097,0.221124,86.693382,189.266735,2.321149,101.831122,0.062518,0.571363
std,0.482918,106.863097,0.707476,13.605138,8.780829,0.998613,1.908286,0.579261,0.398561,0.097436,0.175767,0.844336,1.497437,0.652306,110.774548,131.655015,17.594721,50.535790,0.245291,0.792798
min,0.000000,0.000000,2015.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,6.000000,0.000000,-6.380000,0.000000,0.000000
25%,0.000000,18.000000,2016.000000,16.000000,8.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,62.000000,0.000000,69.290000,0.000000,0.000000
50%,0.000000,69.000000,2016.000000,28.000000,16.000000,1.000000,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,14.000000,179.000000,0.000000,94.575000,0.000000,0.000000
75%,1.000000,160.000000,2017.000000,38.000000,23.000000,2.000000,3.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,229.000000,270.000000,0.000000,126.000000,0.000000,1.000000
max,1.000000,737.000000,2017.000000,53.000000,31.000000,19.000000,50.000000,55.000000,10.000000,10.000000,1.000000,26.000000,72.000000,21.000000,535.000000,543.000000,391.000000,5400.000000,8.000000,5.000000

In [4]:
# Missing values
missing = df.isna().sum().sort_values(ascending=False)
missing[missing > 0]

company     112593
agent        16340
country        488
children         4
dtype: int64

In [5]:
# Count negative ADR records
neg_adr_count = (df['adr'] < 0).sum()

# Compute total stay nights
df['total_stay_nights'] = df['stays_in_week_nights'] + df['stays_in_weekend_nights']

# Count zero stay-night records
zero_stay_count = (df['total_stay_nights'] == 0).sum()

print(f"Negative ADR records: {neg_adr_count}")
print(f"Zero stay-night records: {zero_stay_count}")

Negative ADR records: 1
Zero stay-night records: 715

In [6]:
# Drop rows with negative ADR values
df = df[df['adr'] >= 0]

print("Shape after dropping negative ADR records:", df.shape)

# Drop rows with zero stay nights
df = df[(df['adr'] >= 0) & (df['total_stay_nights'] > 0)]

print("Shape after dropping invalid ADR and zero-stay records:", df.shape)

Shape after dropping negative ADR records: (119389, 33)
Shape after dropping invalid ADR and zero-stay records: (118674, 33)

In [7]:
df['children'].value_counts(dropna=False).head(10)

children
0.0     110114
1.0       4842
2.0       3637
3.0         76
NaN          4
10.0         1
Name: count, dtype: int64

In [8]:
# Convert children column to numeric, coercing invalid values to NaN
df['children'] = pd.to_numeric(df['children'], errors='coerce')
df['children'] = df['children'].fillna(0)

In [9]:
missing = df.isnull().sum()
missing[missing > 0]

country       474
agent       16116
company    111964
dtype: int64

In [10]:
df['arrival_date'] = pd.to_datetime(
    df['arrival_date_year'].astype(str) + "-" +
    df['arrival_date_month'] + "-" +
    df['arrival_date_day_of_month'].astype(str)
)

df['week_start'] = df['arrival_date'] - pd.to_timedelta(df['arrival_date'].dt.weekday, unit='D')

df[['arrival_date', 'week_start']].head()

  arrival_date week_start
2   2015-07-01 2015-06-29
3   2015-07-01 2015-06-29
4   2015-07-01 2015-06-29
5   2015-07-01 2015-06-29
6   2015-07-01 2015-06-29

In [11]:
df['gross_booking'] = 1
df['net_booking'] = np.where(df['is_canceled'] == 0, 1, 0)

df['revenue'] = df['adr'] * df['total_stay_nights']

df[['total_stay_nights', 'gross_booking', 'net_booking', 'revenue']].head()

   total_stay_nights  gross_booking  net_booking  revenue
2                  1              1            1     75.0
3                  1              1            1     75.0
4                  2              1            1    196.0
5                  2              1            1    196.0
6                  2              1            1    214.0

In [12]:
df.to_csv("cleaned_hotel_bookings.csv", index=False)